.feed {
    /* vertical stack of items */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* center items horizontally */
    justify-content: center;
    /* take up full width */
    width: 100%;
}

.feedItem {
    display: block;
    padding: .5rem;
    border-bottom: 1px solid #ccc;
}

.feedItem a:hover {
    text-decoration: underline;
}

.takeActions {
    /* horizontal stack of items */
    display: flex;
    flex-direction: row;
    padding-top: .25rem;
    
    color: rgb(83, 100, 113);
}

.takeActions > * {
    padding-right: 1rem;
}

.takeActionsMiddot {
    /* horizontal stack of items */
        display: flex;
        flex-direction: row;
        padding-top: .25rem;
    
        color: rgb(83, 100, 113);
}

.takeActionsMiddot > *::after {
    /* middot */
    content: " \00b7 ";
    padding-right: 0.5rem;
}

.takeActionsMiddot > *:last-child::after {
    content: "";;
}

.feedItemUsername {
    display: inline;
    font-weight: bold;
    /* padding-right: 0.5rem; */
    /* color: #ff2a8d; */
}

/* .feedItemUsername::after {
    content: ": ";
} */

.feedItemUsername:hover {
    text-decoration: underline;
}

.feedItemTakeText {
    /* font-weight: bold; */
}

.feedItem:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}
